# Dependencias de Java
/backend/target/
.backend/.idea/
.backend/.mvn/
.backend/.gradle/
.backend/.classpath
.backend/.project
.backend/.settings/

# Dependencias de Node (Frontend)
/frontend/node_modules/

# Archivos de log
*.log

# Archivos generados por el IDE
.idea/
.vscode/

# Archivos de compilacion
*.class
*.jar
*.war
*.ear

# Archivos de configuracion de Mac (si usas Mac)
.DS_Store

# Archivos de configuracion de Windows
Thumbs.db

# Archivos de configuracion de JetBrains
.idea/

# Archivos de compilacion de Docker
*.tar
